h1, h2, h3, h4, h5, p, a, footer, header{
	font-size: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Times;
	
}

a {
	text-decoration: none;
}

a:link {
	color: #F6CD61;
	
}

a:visited {
	color: #F6CD61;
}

a:hover {
	color: #3DA4AB;
	
}

a:active {
	color: #0E9AA7;
	
}

article, footer, header, section {
	display: block;
}

td {
	font-size: 1.85em;
	padding-right: 20px;
	padding-left: 20px; 
	color: #F6CD61;   
	width: 30px;
 /*   display: inline-block; */

}

header.major {
	font-size: 8.05em;
	/* border-bottom: 8px solid #FE8A71; */
	padding-bottom: 0;
	margin-bottom: 0;

}

.box {
	border: 8px solid #FE8A71; 
}




h1, h2, h3, h4, h5 {
	font-weight: 500;
	color: #ffffff;
}

strong, b {
		color: #ffffff;
		font-weight: 600;
	}
	
	
h1 {
	font-size: 2.5em;
	border-bottom-style: solid;
	border-bottom-color: #FE8A71;
}

h2 {
	font-size: 1.85em;
}

h3 {
	font-size: 1.30em;
}

h4 {
		font-size: 1.15em;
}

h5 {
		font-size: 0.8em;
}

.heroimg {	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.jpg");	
	height: 100%;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	position: relative;	
}





.herotxt {
	text-align: center;
	position: absolute;
	top: 50%;   /* put it in the middle */
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	border: 4px solid #FE8A71;
	padding: 60;
	padding-bottom: 70;
	
}


.button {
	display: block;
	width: 155px;
	padding: 0.05em;	
	border: 3px solid #F6CD61;
	color: #F6CD61;
	font-family: Times;
	font-size: 1em;
}

.row {
	display: inline-flex;
}
	
	
.column {	
	flex: 50%;
	padding: 20px;
	text-align: center;
	font-size: 1.8em;
	color: #F6CD61;
	margin-bottom: -50px;
}






















