.title{
    text-align:center;
    margin-bottom: 15px;
}

body{
	font-family: Verdana;
    background-color: #121212;
}

div {
	text-align: center;
    margin-bottom: 25px;
}
p{
    color: whitesmoke;
}

h1,h2,h3,h4{
    color: whitesmoke;
}
h2 {
	width: 200px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

/*TODO: Replace all this with d3/svg legend*/
/**************************/

.repLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.repLegend:before {
    content: ' ';
    background-color: red;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.repLegend:before {
    text-align: right;
    margin-left: -50%;
}

.demLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.demLegend:before {
    content: ' ';
    background-color: dodgerblue;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.demLegend:before {
    text-align: right;
    margin-left: -50%;
}

.indLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.indLegend:before {
    content: ' ';
    background-color: #fcfcfc;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.indLegend:before {
    text-align: right;
    margin-left: -50%;
}
/**********************************/

.lineRep, .isoRep { stroke: indianred;	fill: indianred; }
.lineInd, .isoInd { stroke: #fcfcfc;	fill: #fcfcfc; }
.lineDem, .isoDem { stroke: dodgerblue;	fill: dodgerblue; }

.line{stroke: green; fill:none;}

.lineRep, .lineDem, .lineInd {
    fill: none;
    stroke-width: 2;
}

.isoNo { opacity:0.35; }

.isoText {
	fill: black;
	stroke: black;
    stroke-width: 1;
}

.dot {
	fill: whitesmoke;
	stroke: black;
	stroke-width: 1;
	cursor: pointer;
}

.dot-highlight {
	fill: whitesmoke;
	stroke: gold;
	stroke-width: 3;
	cursor: pointer;
}

.dropdown {
    position: relative;
    margin: 0 auto;
	margin-bottom: 25px;
    width: 10%;
}



.dropbtn {
    background-color: slategray;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
    background-color: whitesmoke;
    width: 200%;
    z-index: 9999;
    margin-left: -50%;
}

.dropdown-content input{
    color: black;
    padding: 10px 0px;
    text-align: center;
    display: block;
    width: 100%;
	cursor: pointer;
}

.dropdown-content input:hover {background-color: darkgrey}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #161616;
}

svg {
    background-color: #1a1a1a;
}

.x-axis line, path, text{
    stroke: whitesmoke;
}

.y-axis{

}


